<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <!-- <div class="field">
    <%#= f.label :write_id %>
    <%#= f.number_field :write_id %>
  </div> -->

  <%= f.hidden_field :write_id, value: params[:write_id] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
