<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Add Comments' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <!-- <div class="field">
    <%#= f.label :write_id %>
    <%#= f.number_field :write_id %>
  </div> -->

  <%= f.hidden_field :write_id, value: write.id %>

  <div class="form-group">
    <%= f.submit class: "btn btn-outline-success" %>
  </div>
<% end %>
