<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @write.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @write.post %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @write.publish %>
</p>

<p>
  <strong>User:</strong>
  <%= @write.user_id %>
</p>


<% if user_signed_in? %>
	<%= link_to 'add a new comment', new_comment_path(write_id: @write.id) %>
	<% if current_user == @write.user %>
		<%= link_to 'Edit', edit_write_path(@write) %> |
		<%= link_to 'Back', writes_path %>
	<% end %>
<% end %>




