<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @write.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @write.post %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @write.publish %>
</p>

<p>
  <strong>User:</strong>
  <%= @write.user_id %>
</p>

<%= link_to 'Edit', edit_write_path(@write) %> |
<%= link_to 'Back', writes_path %>
